* {
    box-sizing: border-box;
}

body {
    background-color: #1A1D24;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container6,
.container7,
.container8 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}

.section6,
.section7,
.section8 {
    padding-top: 80px;
    padding-bottom: 80px;
}

