* {
    box-sizing: border-box;
}

body {
    background-color: #1A1D24;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container5,
.container6,
.container7,
.container8,
.container9 {
    max-width: 100%;
    padding: 0 454px;
    box-sizing: border-box;
    margin: 0 auto;
}
