/* ESTILO DEL HEADER PRINCIPAL */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    height: 240px; 
    margin: 0 auto;     
    padding: 10px 119px; 
    margin-bottom: -50px;  
    background-color: #1A1D24;
}


/* LOGO FILMAX */
.logo img {
    max-height: 30px; 
    width: auto;
    font-size: 3rem;
}

/* MENU PRINCIPAL */

.menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 56px;     
    padding: 10px 100px;
    gap: 5px; 
}

.menu li {
    margin: 0 2px;
    padding: 6px;
    position: relative;
    font-size: 12px; 
    font-weight: bold;
}
.menu ul li a {
    color: #fff;
}

/* Estilo del cursor debajo del menú */
.menu li::after {
    content: ''; 
    position: absolute;
    bottom: -3px;
    top: 27px;
    left: 0;
    width: 95%;
    height: 1px; 
    background-color: red; 
    transform: scaleX(0); 
    transform-origin: bottom right;
    transition: transform 0.3s ease-out; 
}

/* Cursor sobre el menú */

.menu li:hover::after {
    transform: scaleX(1); 
    transform-origin: bottom left; 
}


/* ICONOS DERECHA */
.icons {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 15px; 
    color: #fff;
}

.icons svg {
    width: 20px;  
    height: 20px;
    margin: 0;  
    transition: color 0.3s ease; 
    fill: currentColor;
}

/* Efecto al pasar el cursor */

.icons svg:hover {
    color: red; 
    cursor: pointer; 
}

    .icons span {
    display: inline-block;
    height: 20px;
    color: #fff;
}

/* Redes sociales */
.RS ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px; 
    color: #fff;
}

.RS svg {
    width: 20px; 
    height: 20px;
    color: #fff;
}