/* ESTILO DEL HEADER PRINCIPAL */

.header {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #1A1D24; 
    gap: 15px;
    padding: 15px 400px;
    justify-content: space-between;
}

/* LOGO FILMAX */

.logo img {
    max-height: 50px;
}

/* MENU PRINCIPAL */

.menu ul {

    display: flex;
    gap: 12px;
    margin: 50px;
    padding: 0px;
    color: #fff;
}

.menu ul li a {
    color: #fff;

}

.menu ul li.separator {
    display: inline-block;
    padding: 0 5px;
    color: #fff;
}

/*ICONOS DERECHA */

.icons {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #fff;
    font-size: 18px;

}

.icons svg path {
    fill: #fff ;
}

.RS ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
    color: #fff
}