.section4 {
    position: relative;
    top: -762px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin-top: 0;
    padding: 0;
    background-color: #111; /* fondo continuo si lo necesitas */   /* Si quieres espacio entre tarjetas, ajusta */
}

.movie-card {
    position: relative;
    height: 620px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.movie-overlay {
    width: 100%;
    padding: 30px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.25), transparent 60%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    box-sizing: border-box;
}

.line {
    width: 50px;
    height: 1px;
    background-color: #e6b94d;
    margin-bottom: 2px;
}

.genre {
      font-size: 13px;
    color: #bbb;
    margin-bottom: 5px;
}

.title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
}

.movie-card:hover .actions {
    opacity: 1;
    transform: translateY(0);
}

.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }

.btn i {
    width: 26px;
    height: 26px;
    background-color: #222;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}