.section4 {
    position: relative;
    top: -762px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-height: 600px;
    padding: 0;
}

.movie-card {
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.movie-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4); 
}

.movie-info {
    position: absolute;
    bottom: -73px;
    z-index: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    transition: all 0.3s ease;
}
.movie-info:hover {
    position: absolute;
    bottom: 0px;
}

.movie-info .divider {
    width: 25px;
    height: 2px;
    background-color: #d6a839;
}

.movie-info h3 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.movie-info p {
    margin: 0;
    font-size: 14px;
    color: #ccc;
}

.section4 .btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

.section4 .btn i {
    font-size: 13px;
}

  /* WATCH = negro bordeado */
.section4 .btn-watch {
    color: white;
}

.section4 .btn-watch i {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    padding: 4px;
}

  /* VIEW = rojo */
.section4 .btn-view {
    color: #ccc;
}

.section4 .btn-view i {
    color: #ccc;
}