.section1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px; 
    gap: 10px; /* Reduce el espacio entre las secciones */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.principal-page {
    width: 50%;  /* Ajuste para que ocupe el 50% del espacio */
    flex: 1 1 60%; /* Ajuste para ocupar más espacio */
    max-width: 100%; /* Asegura que la imagen no exceda el contenedor */
    position: relative;
    overflow: hidden;
}

.principal-page img {
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    object-position: center;
}

.principal-text {
    position: absolute;
    bottom: 30px;
    left: 40px; /* Mover el texto más a la derecha */
    right: 20px;  /* Se asegura de que el texto se ajuste más al lado derecho */
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: left;
    width: auto;
}

.principal-text h2 {
    font-size: 34px;
    font-family: 'Arial', sans-serif;  /* Asegúrate de usar la misma fuente */
}

.principal-text p {
    font-size: 15px;
    color: rgb(84, 84, 84);
}

.principal-text a {
    display: inline-block;
    margin-top: 10px; /* Espacio entre el texto y el botón */
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.principal-text a:hover {
    text-decoration: underline;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/*NOTICIAS DERECHA */

.sidebar {
    width: 30%;
    flex: 0 0 30%;
    max-width: 350px;  /* Ajusta el tamaño para que sea más largo */
    height: auto; /* Ajusta la altura según el contenido */
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    align-items: flex-start;
}

.sidebar h3 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 24px;
}

/*LINEA ROJA */

.sidebar h3::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: red;
    margin-top: 5px;
}

.news-item {
    display: flex;
    align-items: center;
    gap: 20px;  /* Aumenta el espacio entre la imagen y el texto */
    margin-bottom: 20px;  /* Mayor separación entre las noticias */
}

.news-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.news-text p {
    font-size: 14px;
    color: #fff;
}

.news-text span {
    color: gray;
}


