.section1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px; 
    gap: 10px; /* Reduce el espacio entre las secciones */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.principal-page {
    width: 60%; /* Ajustado para que la imagen no sea tan grande */
    flex: 1 1 65%;  /* Ajuste para que ocupe el 65% del espacio */
    max-width: 700px; /* Limitamos el tamaño máximo */
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.principal-page img {
    width: 100%;       
    height: auto;       /* Hace que ocupe todo el ancho disponible */
    max-height: 600px;        /* Ajusta la altura máxima */
    object-fit: cover;        /* Hace que la imagen cubra el área sin distorsionarse */
    object-position: center;  /* Centra la imagen */
}


/*TEXTO TYLER CAJA */

/* Ajuste del texto de Tyler Perry */
.principal-text {
    position: absolute;
    bottom: 30px;
    left: 40px;  /* Desplazar hacia la derecha */
    max-width: 350px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: left;
    width: auto;
}

.principal-text h2 {
    font-size: 34px;
}

.principal-text p {
    font-size: 15px;
    color: rgb(84, 84, 84);
}

.principal-text a {
    display: inline-block;
    margin-top: 10px; /* Espacio entre el texto y el botón */
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.principal-text a:hover {
    text-decoration: underline;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/*NOTICIAS DERECHA */

.sidebar {
    width: 30%;
    flex: 0 0 30%;
    max-width: 300px;  /* Ajusta para que sea más largo */
    height: 100vh; /* Hace que el sidebar ocupe toda la altura */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
}

.sidebar h3 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 24px;
}

/*LINEA ROJA */

.sidebar h3::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: red;
    margin-top: 5px;
}

.news-item {
    display: flex;
    align-items: center;
    gap: 20px;  /* Aumenta el espacio entre la imagen y el texto */
    margin-bottom: 20px;  /* Mayor separación entre las noticias */
}

.news-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.news-text p {
    font-size: 14px;
    color: #fff;
}

.news-text span {
    color: gray;
}


