/* HOMBRE + SIDEBAR + TYLER PERRY´S*/

.section1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px 20px 150px 0;
    gap: 30px; 
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.container1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}
/* IMAGEN Y TYLER PERRY´S */

.principal-page {
    width: 65%;  
    flex: 1 1 60%; 
    max-width: 100%; 
    overflow: hidden;
}

.principal-page img {
    width: 100%;
    height: auto;
    max-height: 520px; 
    object-fit: cover;
    object-position: center;
}

.principal-text {
    box-sizing: content-box;
    top: 300px;
    position: absolute;
    left: 70%;
    right: 0px;
    max-width: 498px;
    background-color: #1A1D24;
    padding: 20px 10px;
    margin: 4%;
    margin-left: 1%;
    text-align: left;
    width: 350px;
    height: 207px;
}

.principal-text h2 {
    font-size: 30px;
    margin-top: 2px;
    margin-left: 3px;
    font-weight: bold; 
}

.principal-text p {
    font-size: 13px;
    color: #A8A8A8;
    margin-top: 20px;
    margin-left: 3px;

}

.principal-text a {
    display: inline-block;
    margin-left: 3px;
    margin-top: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 11px;
}

/* FLECHA ROJA READ MORE */
.principal-text a::after{
    content: " →"; 
    color: red; 
    font-weight: bold;
    margin-left: 5px; 
}

.principal-text a:hover {
    text-decoration: underline;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
} 

/*NOTICIAS DERECHA */

.sidebar {
    width: 20%;
    max-width: 350px; 
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    align-items: flex-start;
}
.sidebar-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-title h3 {
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap; 
    margin: 0;
    padding: 0;
}

/* LINEA ROJA DE RECENT NEWS */
.sidebar-title h3::after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: red;
    align-self: flex-start;
    margin: 5px;
    margin-left: 15px;
}
.news-item {
    display: flex;
    align-items: center;
    gap: 10%;  
    margin: 5%;
    margin-bottom: 10px; 
    width: 100%;

}

.news-item img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.news-text p {
    font-size: 13px;
    color: #fff;
    font-family: "Roboto Condensed" , sans-serif;
    font-weight: bold;
}

.news-text span {
    color: gray;
    font-size: 11px;
    font-family: "Roboto Condensed" , sans-serif;
}


