/*SAMURAI*/ 
/*SAMURAI*/ 
.section3 {
    position: relative;
    min-height: 500px; /* Ajusta según sea necesario */
    background-image: url('../asset/images/bg_samurai.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 40px;
    bottom: 762px;
    background-color: #f2f2f2;
    background-color: #fff; /* fondo base si no carga imagen */
}
.container3 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 454px;
    box-sizing: border-box;
}

.overlay-content {
    position: relative;
    z-index: 2;
    left: -20%;
    max-width: 600px;
    color: #222;
}

.section-subtitle {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #888;
    margin-bottom: 15px;
    text-transform: uppercase;
}

  /* Línea roja encima */
.section-subtitle::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    width: 50px;
    height: 1px;
    background-color: #e50914;
}

.samurai-text , .new-release {
    font-size: 13px;
    color: grey ;
    margin-bottom: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

.samurai-text h2 {
    font-size: 40px;
    color: #222;
    margin-bottom: 60px;
    font-weight: bold;
}
.samurai-text .sub-info {
    font-size: 14px;
    color: #222;
    margin-bottom: 20px;
}

.samurai-text .description {
    font-size: 15px;
    letter-spacing: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #666666;
    line-height: 1.6;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    color: red;
}
.section3 .btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.section3 .btn .icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

  /* --- Botón rojo: VIEW MORE --- */
.section3 .btn-view {
    color: #e50914;
}

.section3 .btn-view .icon {
    background-color: transparent;
}

.section3 .btn-view .icon i {
    color: #e50914;
}

  /* --- Botón negro: WATCH TRAILER --- */
.section3 .btn-watch {
    color: #000;
}

.section3 .btn-watch .icon {
    background-color: transparent;
    border: 2px solid #000;
}

.section3 .btn-watch .icon i {
    color: #000;
}

  /* Hover (opcional) */
.section3 .btn-watch:hover {
    color: #e50914;
}

.section3 .btn-watch:hover .icon {
    border-color: #e50914;
}

.section3 .btn-watch:hover .icon i {
    color: #e50914;
}